@keyframes bgPickColor {
    0% {
        background-color: #ffffff
    }

    50% {
        background-color: #000000
    }
}

@keyframes bgShootColor {
    0% {
        background-color: #ffffff
    }

    50% {
        background-color: tomato;
    }
}

.wall {
    background-image: url("pattern.png");
    background-size: cover;
    background-position: center;
}

.pick {
    -webkit-animation: bgPickColor 2s infinite;
    animation: bgPickColor 2s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.shoot {
    -webkit-animation: bgShootColor 2s infinite;
    animation: bgShootColor 2s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    padding: 20px;
    border: solid 1px black;
    cursor: pointer;
}
.cell:hover {
    border: solid 1px greenyellow;
    transition: 0.4s;
}

.whitebg {
    background-color: wheat;
}

.blackbg {
    background-color: rgba(0, 0, 0, 0.8);
}

.figure {
    text-shadow: 1px 1px 1px black;
    font-size: xx-large;
    cursor: crosshair;
}

.one{
    color: springgreen;
}

.two {
    color: lightcoral;
}
