ul {
    position: relative;
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
    width: 200px;
    height: 200px;
    background-color: blue;
}

ul li {
    width: 100px;
    height: 100px;
    position: absolute;
    transform-origin: bottom right;
    
}

ul li a{
    position: absolute;
}

ul li:nth-child(1){
    transform: rotate(90deg);
}
ul li:nth-child(2){
    transform: rotate(180deg);
}
ul li:nth-child(3){
    transform: rotate(270deg);
}
ul li:nth-child(4){
}